[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
apscheduler = "*"
uvicorn = "*"
pytimeparse = "*"
jinja2 = "*"
kornet = "0.0.18"
loguru = "*"

[dev-packages]
wily = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
