[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
ansible-runner = "*"
paramiko = "*"
apscheduler = "*"
uvicorn = "*"
ansible = "*"
pytimeparse = "*"
jinja2 = "*"

[dev-packages]
wily = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
